@font-face {
  font-family: "SF";
  src: url("/src/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
}
.navbar {
  justify-self: center;
  padding: 30px;
}

.navbar a {
  padding: 0 30px;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  color: #124559;
}

.navMain {
  display: flex;
  justify-self: center;
  padding: 1rem;
  gap: 1rem;
}
.navMain a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5em;
  border-radius: 100% 0% 100% 0%/10% 90% 10% 90%;
  background-color: #aec3b0;
  color: #01161e;
  padding: 5px;
  box-shadow: 2px 4px 12px 10px rgba(0, 0, 0, 0.0784313725);
}
.navMain a:hover {
  box-shadow: inset 2px 4px 12px 10px rgba(0, 0, 0, 0.0784313725);
}

.dashboard {
  justify-content: center;
}

.addProductForm {
  justify-self: center;
}
.addProductForm > * {
  margin: 25px;
}
.addProductForm div {
  display: flex;
  justify-content: space-between;
}
.addProductForm label {
  color: #124559;
  font-size: 1.5em;
}

.infoField {
  padding: 0.5rem;
  border-radius: 4px;
  margin-right: 20px;
}

.addBtn {
  padding: 0.7rem;
  font-weight: bold;
  background-color: #aec3b0;
  color: #124559;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formValidation {
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
}
.formValidation .btn {
  padding: 0.75rem;
  background-color: #aec3b0;
  color: #124559;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formField {
  margin-bottom: 1rem;
}
.formField label {
  display: block;
  margin-bottom: 0.5rem;
}
.formField label input {
  display: block;
  width: 100%;
  padding: 0.5rem;
}
.formField span {
  color: red;
  font-size: 0.875rem;
}

.todos {
  justify-self: center;
}
.todos > * {
  margin: 25px;
}

.todoField {
  padding: 0.5rem;
  border-radius: 4px;
  margin-right: 20px;
}

.btn {
  padding: 0.7rem;
  font-weight: bold;
  background-color: #aec3b0;
  color: #124559;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.todo {
  margin: 5px;
  color: #124559;
  font-size: 24px;
  font-family: SF;
}
.todo > * {
  margin: 5px;
}

.card {
  padding: 10px;
  width: 300px;
  border-radius: 18px;
  background: #aec3b0;
  box-shadow: 2px 4px 12px 10px rgba(0, 0, 0, 0.0784313725);
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #01161e;
}

.card img {
  align-self: center;
}

.card h2 {
  font-size: 1.5em;
  padding: 10px;
  text-align: center;
}

.card p {
  font-size: 24px;
  padding: 5px 0;
}
.card p span {
  font-weight: 600;
}

.card:hover {
  transform: scale(1.02);
}

.buttons button,
.delBtn {
  margin: 5px auto;
  width: 50px;
  height: 50px;
  border-radius: 12px;
  font-size: 1em;
  text-align: center;
}

.buttons .delBtn {
  margin-left: 120px;
  background-color: rgb(235, 177, 177);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eff6e0;
  font-family: SF;
  height: 100vh;
}

.container {
  margin: 0 30px;
}

h1 {
  color: #124559;
  padding-bottom: 10px;
}

.description {
  justify-self: flex-start;
  padding-top: 20px;
  padding-left: 20%;
  font-size: 1em;
  color: #124559;
}
.description span {
  font-weight: 800;
  font-size: 2em;
  color: #124559;
}/*# sourceMappingURL=main.css.map */