@use "variables";
.navMain {
  display: flex;
  justify-self: center;
  padding: 1rem;
  gap: 1rem;
  a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 100% 0% 100% 0% / 10% 90% 10% 90%;
    background-color: variables.$bg-nav;
    color: variables.$dark;
    padding: 5px;
    box-shadow: 2px 4px 12px 10px #00000014;
    &:hover {
      box-shadow: inset 2px 4px 12px 10px #00000014;
    }
  }
}
