@use 'variables';

.todos {
    justify-self: center;
    &>* {
        margin: 25px;
    }
}

.todoField {
    padding: 0.5rem;
    border-radius: 4px;
    margin-right: 20px;
}

.btn {
    padding: 0.7rem;
    font-weight: bold;
    background-color: variables.$bg-nav;
    color: variables.$nav-color;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.todo {
    margin: 5px;
    &>* {
        margin: 5px;
    }
    color: variables.$nav-color;
    font-size: 24px;
    font-family: variables.$main-font;
}