@font-face {
  font-family: "SF";
  src: url("/src/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
}

$card-color: #aec3b0;

$main-font: SF;

$bkc: #eff6e0;

$bg-nav: #aec3b0;

$nav-color: #124559;

$dark: #01161e;
